/* GENERAL */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

/* FIN GENERAL */

/* MENU */

.menu {
  display: flex;
  align-items: center;
  height: 100px;
}

.menu__logo {
  width: 94%;
  margin: 0 auto;
}

.menu__navigation {
  height: 100px;
  line-height: 100px;
}

.menu__navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  right: 0;
  width: 600px;
}

.menu__navigation li {
  width: 150px;
  text-align: center;
}

.menu__navigation li:hover {
  border-top: solid 2px #0065fc;
  transition: 100ms;
}

.menu__navigation li:nth-child(3) a {
  font-weight: bold;
  color: #0065fc;
}

.menu__navigation li a:hover {
  color: #0065fc;
  transition: 300ms;
}

/* FIN MENU */

/* RECHERCHE */

.recherche {
  width: 94%;
  margin: 0 auto;
}

.recherche__titre {
  margin-bottom: 20px;
}
.recherche__titre p {
  margin-top: 10px;
}

.recherche__input i {
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 15px 0 0 15px;
}

.recherche__input input[type="text"] {
  padding: 14px;
  font-family: "Raleway", sans-serif;
  color: black;
  font-weight: bold;
  background-color: #ffffff;
  margin-left: -4px;
  box-shadow: 0px 0px 0px rgba(66, 66, 66, 0);
  border: solid 1px #f2f2f2;
}
.recherche__input input[type="text"]:focus {
  border: solid 1px #cccccc;
  outline: none;
}

.recherche__input input[type="submit"] {
  border-radius: 0 15px 15px 0;
  color: #ffffff;
  padding: 14px;
  background-color: #0065fc;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border-width: 0px;
  border-color: #cccccc;
  font-weight: bold;
  margin-left: -4px;
}

.recherche__filtre {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}

.recherche__filtre i {
  color: #0065fc;
  background-color: #deebff;
  padding: 20px;
  width: 56px;
  height: 56px;
  border-radius: 40px;
  position: relative;
  z-index: 1;
}
.recherche__filtre h3:nth-child(1n) {
  border: solid 1px #f2f2f2;
  border-radius: 40px 40px 40px 40px;
  padding: 15px 20px 15px 50px;
  margin-left: -45px;
  cursor: pointer;
}

.recherche__filtre h3:nth-child(1n):hover {
  background-color: #0065fc;
  color: white;
  transition: 300ms;
}
.recherche__filtre h3:nth-child(1) {
  border: none;
  margin-left: 0;
  padding-left: 0;
  cursor: unset;
}

.recherche__filtre h3:nth-child(1):hover {
  background-color: white;
  color: black;
}

.recherche__resultat {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  width: 25%;
  align-items: center;
}

.recherche__resultat i {
  width: 25px;
  height: 25px;
  color: #0065fc;
  border: solid 1px #f2f2f2;
  border-radius: 100%;
  padding: 5px;
  text-align: center;
}
.recherche__resultat p {
  padding: 5px;
}

/* FIN RECHERCHE */

.recherche__filtre ul > li {
  font-weight: bold;
}

/* SECTION HEBERGEMENTS */

#hebergements {
  width: 97%;
  margin: 0 auto;
}

#hebergements .centre {
  display: flex;
  justify-content: space-around;
}

.hebergements {
  background-color: #f2f2f2;
  width: 70%;
  border-radius: 20px;
}

.hebergements__titre h2 {
  width: 91%;
  margin: 30px auto 5px;
}

.hebergements__carte {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hebergements__carte-- {
  width: 29%;
  min-height: 280px;
  background-color: white;
  border-radius: 20px;
  position: relative;
  margin: 15px;
}

.hebergements__carte-- .photo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 70%;

  border: solid 6px white;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}

.hebergements__carte--:nth-child(1) .photo {
  background-image: url("../assets/hebergements/auberge-cannebiere.jpg");
}
.hebergements__carte--:nth-child(2) .photo {
  background-image: url("../assets/hebergements/hotel-port.jpg");
}
.hebergements__carte--:nth-child(3) .photo {
  background-image: url("../assets/hebergements/hotel-mouettes.jpg");
}
.hebergements__carte--:nth-child(4) .photo {
  background-image: url("../assets/hebergements/hotel-mer.jpg");
}
.hebergements__carte--:nth-child(5) .photo {
  background-image: url("../assets/hebergements/hotel-panier.jpg");
}
.hebergements__carte--:nth-child(6) .photo {
  background-image: url("../assets/hebergements/hotel-amina.jpg");
}

.hebergements__carte-- .description {
  position: absolute;
  bottom: 0;
  z-index: 2;
  background-color: white;
  width: 100%;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 13px 19px -16px #898989;
}

.hebergements__carte-- .description > p,
h3,
.etoile {
  margin: 10px;
}

.hebergements__carte-- .description .etoile > i {
  color: #0065fc;
}

.hebergements__carte--:nth-child(1) .description .etoile i:nth-child(5) {
  color: #f2f2f2;
}
.hebergements__carte--:nth-child(3) .description .etoile i:nth-child(5) {
  color: #f2f2f2;
}
.hebergements__carte--:nth-child(4) .description .etoile i:nth-child(4) {
  color: #f2f2f2;
}
.hebergements__carte--:nth-child(4) .description .etoile i:nth-child(5) {
  color: #f2f2f2;
}

.hebergements__lien {
  width: 91%;
  margin: 30px auto 40px;
}
.hebergements__lien a {
  color: black;
  font-weight: bold;
  font-size: 1.17em;
}

/* FIN SECTION HEBERGEMENTS */

/* SECTION LES PLUS POPULAIRES */

.hebergements__populaire {
  width: 25%;
  background-color: #f2f2f2;
  border-radius: 20px;
}

.hebergements__populaireTitre {
  display: flex;
  justify-content: space-between;
}
.hebergements__populaireTitre h2 {
  width: 58%;
  margin: 30px auto 5px;
}
.hebergements__populaireTitre i {
  margin: 30px auto 5px;
  font-size: 25px;
}

.hebergements__populaireCarte-- {
  display: flex;
  justify-content: center;
  height: 190px;
  background-color: white;
  margin: 15px auto 40px;
  border-radius: 20px;
  position: relative;
  width: 83%;
}

.hebergements__populaireCarte-- .photo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 35%;
  border: solid 6px white;
  overflow: hidden;
  border-radius: 20px 0 0 20px;
  position: absolute;
  z-index: 1;
  left: 0;
}

.hebergements__populaireCarte--:nth-child(1) .photo {
  background-image: url("../assets/hebergements/hotel-soleil-du-matin.jpg");
}
.hebergements__populaireCarte--:nth-child(2) .photo {
  background-image: url("../assets/hebergements/au-coeur-de-leau.jpg");
}
.hebergements__populaireCarte--:nth-child(3) .photo {
  background-image: url("../assets/hebergements/hotel-tout-bleu-et-blanc.jpg");
}

.hebergements__populaireCarte-- .description {
  background-color: white;
  width: 50%;
  border-radius: 0 20px 20px 20px;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 35%;
  right: 0;
  z-index: 2;
  box-shadow: 0px 13px 19px -16px #898989;
}

.hebergements__populaireCarte-- .description p,
h3,
.etoile {
  margin: 10px;
}

.hebergements__populaireCarte-- .description .etoile {
  position: absolute;
  bottom: 0;
}

.hebergements__populaireCarte-- .description .etoile i {
  color: #0065fc;
}

.hebergements__populaireCarte--:nth-child(2)
  .description
  .etoile
  i:nth-child(5) {
  color: #f2f2f2;
}

.hebergements__populaireCarte--:nth-child(3)
  .description
  .etoile
  i:nth-child(5) {
  color: #f2f2f2;
}

/* FIN SECTION LES PLUS POPULAIRES */

/* SECTION ACTIVITES */

#activites {
  width: 97%;
  margin: 0 auto;
}

.activites__titre h2 {
  width: 97%;
  margin: 60px auto 0;
}

.activites__carte {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 720px;
}

.activites__carte-- {
  width: 21.85%;
  position: relative;
  margin: 20px;
}

.activites__carte-- .photo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 80%;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}

.activites__carte--:nth-child(1) .photo {
  background-image: url("../assets/activites/vieux-port.jpg");
  min-height: 640px;
}
.activites__carte--:nth-child(2) .photo {
  background-image: url("../assets/activites/fort-pomegues.jpg");
  height: 300px;
  justify-content: flex-start;
}
.activites__carte--:nth-child(3) .photo {
  background-image: url("../assets/activites/iles-frioul.jpg");
  height: 300px;
  justify-content: flex-end;
}
.activites__carte--:nth-child(4) .photo {
  background-image: url("../assets/activites/parc-national-des-calanques.jpg");
  height: 640px;
}
.activites__carte--:nth-child(5) .photo {
  background-image: url("../assets/activites/notre-dame-de-la-garde.jpg");
  height: 300px;
}
.activites__carte--:nth-child(6) .photo {
  background-image: url("../assets/activites/parc-longchamp.jpg");
  height: 300px;
}

.activites__carte-- .description {
  position: absolute;
  bottom: 0;
  z-index: 2;
  background-color: white;
  width: 100%;
  border-radius: 0 0 20px 20px;
  min-height: 50px;
  box-shadow: 0px 18px 20px 0px #f2f2f2;
}

.activites__carte-- .description h3 {
  margin: 20px;
}

/* FIN SECTION ACTIVITES */

/* FOOTER */

footer {
  height: 200px;
  background-color: #f2f2f2;
}

footer .centre {
  display: flex;
  width: 97%;
  margin: 0 auto;
}

footer h3 {
  margin: 30px 0 20px 30px;
}

footer a {
  color: black;
}

footer p {
  margin: 10px 0 0 30px;
}

.footer__propos {
  width: 33%;
}

.footer__hebergements {
  width: 33%;
}
.footer__assistance {
  width: 33%;
}

/* FIN FOOTER */
